@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    :root {
        /*
            Very cool! https://projects.verou.me/css3patterns/#
            I tweaked the colours and size.
        */
        --honeycomb-size: 40px;
        --honeycomb-border-size: calc(var(--honeycomb-size) / 40);
        --honeycomb-size-x: calc(var(--honeycomb-size));
        --honeycomb-size-y: calc(var(--honeycomb-size) * 1.5);
        --honeycomb-c1: var(--b3);
        --honeycomb-c2: var(--b2);
        --honeycomb-gradient:
            radial-gradient(circle farthest-side at 0% 50%, oklch(var(--honeycomb-c1)) 23.5%, rgba(240,166,17,0) 0)
                calc(var(--honeycomb-size-x) * .5 + var(--honeycomb-border-size))
                calc(var(--honeycomb-size-y) * .5),
            radial-gradient(circle farthest-side at 0% 50%, oklch(var(--honeycomb-c2)) 24%, rgba(240,166,17,0) 0)
                calc(var(--honeycomb-size-x) * .5 - var(--honeycomb-border-size))
                calc(var(--honeycomb-size-y) * .5),
            linear-gradient(oklch(var(--honeycomb-c1)) 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,oklch(var(--honeycomb-c1)) 0) 0 0,
            linear-gradient(150deg, oklch(var(--honeycomb-c1)) 24%, oklch(var(--honeycomb-c2)) 0, oklch(var(--honeycomb-c2)) 26%, rgba(240,166,17,0) 0, rgba(240,166,17,0) 74%, oklch(var(--honeycomb-c2)) 0, oklch(var(--honeycomb-c2)) 76%, oklch(var(--honeycomb-c1)) 0) 0 0,
            linear-gradient(30deg, oklch(var(--honeycomb-c1)) 24%, oklch(var(--honeycomb-c2)) 0, oklch(var(--honeycomb-c2)) 26%, rgba(240,166,17,0) 0, rgba(240,166,17,0) 74%, oklch(var(--honeycomb-c2)) 0, oklch(var(--honeycomb-c2)) 76%, oklch(var(--honeycomb-c1)) 0) 0 0,
            linear-gradient(90deg, oklch(var(--honeycomb-c2)) 2%, oklch(var(--honeycomb-c1)) 0, oklch(var(--honeycomb-c1)) 98%, oklch(var(--honeycomb-c2)) 0%) 0 0,
            oklch(var(--honeycomb-c1));
    }

    .bg-honeycomb {
        background:
radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
background-color: #300;
background-size: 100px 100px;
    }
}
