@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    :root {
        /*
            Very cool! https://projects.verou.me/css3patterns/#
            I tweaked the colours and size.
        */
        --honeycomb-gradient:
            radial-gradient(circle farthest-side at 0% 50%, oklch(var(--b3)) 23.5%, rgba(240,166,17,0) 0) 10.5px 15px,
            radial-gradient(circle farthest-side at 0% 50%, oklch(var(--b2)) 24%, rgba(240,166,17,0) 0) 9.5px 15px,
            linear-gradient(oklch(var(--b3)) 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,oklch(var(--b3)) 0)0 0,
            linear-gradient(150deg, oklch(var(--b3)) 24%, oklch(var(--b2)) 0, oklch(var(--b2)) 26%, rgba(240,166,17,0) 0, rgba(240,166,17,0) 74%, oklch(var(--b2)) 0, oklch(var(--b2)) 76%, oklch(var(--b3)) 0) 0 0,
            linear-gradient(30deg, oklch(var(--b3)) 24%, oklch(var(--b2)) 0, oklch(var(--b2)) 26%, rgba(240,166,17,0) 0, rgba(240,166,17,0) 74%, oklch(var(--b2)) 0, oklch(var(--b2)) 76%, oklch(var(--b3)) 0) 0 0,
            linear-gradient(90deg, oklch(var(--b2)) 2%, oklch(var(--b3)) 0, oklch(var(--b3)) 98%, oklch(var(--b2)) 0%) 0 0,
            oklch(var(--b3));
    }

    .bg-honeycomb {
        background: var(--honeycomb-gradient);
        background-size: 20px 30px;
    }
}
